@font-face {
	font-family: 'bebasregular';
	src: url('../fonts/BEBAS___-webfont.eot');
	src: url('../fonts/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/BEBAS___-webfont.woff2') format('woff2'),
	url('../fonts/BEBAS___-webfont.woff') format('woff'),
	url('../fonts/BEBAS___-webfont.ttf') format('truetype'),
	url('../fonts/BEBAS___-webfont.svg#bebasregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'bitstream_vera_sans_monoroman';
	src: url('../VeraMono-webfont.eot');
	src: url('../VeraMono-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/VeraMono-webfont.woff2') format('woff2'),
	url('../fonts/VeraMono-webfont.woff') format('woff'),
	url('../fonts/VeraMono-webfont.ttf') format('truetype'),
	url('../fonts/VeraMono-webfont.svg#bitstream_vera_sans_monoroman') format('svg');
	font-weight: normal;
	font-style: normal;
}

h1 {
	font-family: "bebasregular", Arial, sans-serif;
	color: black;
	font-size: 10vw;
}

h2 {
	font-family: "bebasregular", Arial, sans-serif;
	font-size: 5vh;
}

p, blockquote {
	font-family: "bitstream_vera_sans_monoroman", monospace, serif;
	color: black;
}

a {
	color: black;
}

a:hover {
	color: rgb(255, 255, 231);
	text-decoration: none;
}

strong {
	font-weight: 900;
}

.welcome, .development, .design, .writing, .contact {
	min-height: 100vh;
	display:block;
	overflow:auto;
}

/*Styling everything in the welcome/intro section*/
.welcome {
	background-color: rgb(57, 113, 178);
}

.underline-development {
	border-bottom: 0.3rem solid rgb(240, 187, 31);
}

.underline-development:hover {
	color: rgb(240, 187, 31);
}

.underline-design {
	border-bottom: 0.3rem solid rgb(255, 255, 231);
}

.underline-design:hover {
	color: rgb(255,255,231);
}

.underline-writing {
	border-bottom: 0.3rem solid rgb(223, 60, 57);
}

.underline-writing:hover {
	color: rgb(223, 60, 57);
}

.underline-contact {
	border-bottom: 0.3rem solid rgb(228, 130, 178);
}

.underline-contact:hover {
	color: rgb(228, 130, 178);
}

/*Styling everything in the development section*/
.development {
	background-color: rgb(240, 187, 31);
}

.development-title, .writing-title {
	display: flex;
	align-items: flex-end;
	flex-direction: row-reverse;
	text-align: right;
	padding-bottom: 2em;
}

.development-description {
	padding-bottom: 3em;
}

/*Styling everything in the design section*/
.design {
	background-color: rgb(255, 255, 231);
}

.portfolio-image {
	height: 10rem;
	border: 5px solid black;
	padding: 5px;
	margin-right: 7px;
	margin-bottom: 7px;
}

/*Styling everything in the writing section*/
.writing {
	background-color: rgb(223, 60, 57);
}

.article-link {
	padding-left: 2rem;
	padding-top: 2rem;
}

/*Styling everything in the contact section*/
.contact {
	background-color: rgb(228, 130, 178);
}

.fa {
	font-size: 1.5rem;
}

.blockquote {
	padding-top: 2rem;
}

.fa-twitter-square, .fa-behance-square, .fa-envelope-square, .fa-linkedin, .fa-instagram, .fa-medium-m, .fa-github-square {
	margin: 5px;
	float: right;
}

.form {
	padding-top: .5rem;
	font-family: "bitstream_vera_sans_monoroman", monospace, serif;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], input[type=email], select, textarea {
	width: 90%;
	display: block;
	padding: 3px;
	border: 5px solid black;
	box-sizing: border-box;
	margin-top: 4px;
	margin-bottom: 16px;
	resize: vertical;
	background-color: rgb(255, 255, 231);
}

/* Style the submit button with a specific background color etc */
input[type=submit], input[type=reset] {
	background-color: black;
	font-family: "bitstream_vera_sans_monoroman", monospace, serif;
	color: rgb(255, 255, 231);
	padding: 7px 10px;
	border: none;
	cursor: pointer;
	margin-top: 5px;
}

/*Media Queries*/
@media all {
	.container-fluid {
		padding: 5rem;
	}
	p, blockquote {
	font-size: 1.5rem;
	}
}
	@media all and (max-width: 1000px) {
		h2 {
			padding-bottom: 2rem;
		}
		.container-fluid {
			padding: 4rem;
		}
		p, blockquote {
			font-size: 1rem;
		}
	}
	@media all and (max-width: 576px) {
		h2 {
			padding-bottom: 2rem;
		}
		.container-fluid {
			padding: 2rem;
		}
		p, blockquote {
			font-size: 1rem;
		}
	}