@font-face {
	font-family: 'bebasregular';
	src: url('../fonts/BEBAS___-webfont.eot');
	src: url('../fonts/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/BEBAS___-webfont.woff2') format('woff2'),
	url('../fonts/BEBAS___-webfont.woff') format('woff'),
	url('../fonts/BEBAS___-webfont.ttf') format('truetype'),
	url('../fonts/BEBAS___-webfont.svg#bebasregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'bitstream_vera_sans_monoroman';
	src: url('../VeraMono-webfont.eot');
	src: url('../VeraMono-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/VeraMono-webfont.woff2') format('woff2'),
	url('../fonts/VeraMono-webfont.woff') format('woff'),
	url('../fonts/VeraMono-webfont.ttf') format('truetype'),
	url('../fonts/VeraMono-webfont.svg#bitstream_vera_sans_monoroman') format('svg');
	font-weight: normal;
	font-style: normal;
}

h1 {
	font-family: "bebasregular", Arial, sans-serif;
}

h2 {
	font-family: "bebasregular", Arial, sans-serif;
	margin-top: 3rem;
}

p, blockquote {
	font-family: "bitstream_vera_sans_monoroman", monospace, serif;
	color: black;
}

a {
	color: black;
}

a:hover {
	color: rgb(255, 255, 231);
	text-decoration: none;
}

.welcome {
	background-color: rgb(57, 113, 178);
	height: 100vh;
	display:block;
	overflow:auto;
	padding: 3em;
}

.underline-development {
	border-bottom: 0.3rem solid rgb(240, 187, 31);
}

.underline-development:hover {
	color: rgb(240, 187, 31);
}

.underline-design {
	border-bottom: 0.3rem solid rgb(255, 255, 231);
}

.underline-design:hover {
	color: rgb(255,255,231);
}

.underline-writing {
	border-bottom: 0.3rem solid rgb(223, 60, 57);
}

.underline-writing:hover {
	color: rgb(223, 60, 57);
}

.underline-contact {
	border-bottom: 0.3rem solid rgb(228, 130, 178);
}

.underline-contact:hover {
	color: rgb(228, 130, 178);
}

.development {
	background-color: rgb(240, 187, 31);
	display:block;
	overflow:auto;
	padding: 3em;
}

.development-title {
	text-align: right;
	padding-bottom: 2em;
}

.development-description {
	padding-bottom: 3em;
}

.design {
	background-color: rgb(255, 255, 231);
	height: 120vh;
	padding: 3em;
}

.writing {
	background-color: rgb(223, 60, 57);
	height: 120vh;
	padding: 3em;
}

.writing-title {
	display: flex;
	align-items: flex-end;
	flex-direction: row-reverse;
}

.article-link {
	padding-left: 2rem;
}

.contact {
	background-color: rgb(228, 130, 178);
	display:block;
	overflow:auto;
	padding: 3em;
}

.fa {
	font-size: 1rem;
}

.blockquote {
	padding-top: 2rem;
}

.icon {
	width: 3rem;
	padding: 5px;
	float: right;
}

.form {
	padding-top: 2rem;
	font-family: "bitstream_vera_sans_monoroman", monospace, serif;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], input[type=email], select, textarea {
	width: 90%;
	display: block;
	padding: 5px;
	border: 3px solid black;
	box-sizing: border-box;
	margin-top: 4px;
	margin-bottom: 16px;
	resize: vertical;
}

/* Style the submit button with a specific background color etc */
input[type=submit], input[type=reset] {
	background-color: black;
	font-family: "bitstream_vera_sans_monoroman", monospace, serif;
	color: white;
	padding: 12px 20px;
	border: none;
	cursor: pointer;
	margin-top: 5px;
}

@media all {
	h1 {
		font-size: 8em;
	}
	p, ol, blockquote {
		font-size: 1.3em;
	}
}
	@media all and (max-width: 1000px) {
		h1 {
			font-size: 6em;
		}
		p, ol, blockquote {
			font-size: 1.1em;
		}
		span {
			text-align: left;
		}

	}
	@media all and (max-width: 500px) {
		h1 {
			font-size: 4em;
		}
		p, ol, blockquote {
			font-size: 1em;
		}
	}